#navigator {
    line-height:30px;
    background-color:#eeeeee;
    height:590px;
    width:100px;
    float:left;
    padding:5px;
}
#feeds {
    width:800px;
    float:left;
    padding:20px;
	overflow:auto;
	max-height:80%;
}
#profileimg {
	position: relative;
	transform: translateY(-25%);
	height: 220px;
	width: 200px;
}
#post {
    width:800px;
    float:left;
    padding:20px;
}
.contentBlock {
	vertical-align: top;
}
.selectedItem {
	background-color: #A4A4A4;
	height: 45px;
	cursor: pointer;
}
.unSelectedItem {
	background-color:#eeeeee;
	height: 30px;
	cursor: pointer;
}

.urlFeed {
	background-color:#E0F8F7;
	width: 600px;
	height: 80px;
}

.textFeed {
	background-color:#F5F6CE;
	width: 600px;
	height: 80px;
}

a {
	position: relative;
	top: -30%;
	transform: translateY(-50%);
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

.profileShow {
  overflow: auto;
  max-height:80%;
  display: inline;
}

.profileHide {
  display: none;
}
